body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    background-color: oldlace;
    font-family: 'Pacifico';
}


img{
    border-radius: 10%;
    margin: 20px;
    filter: brightness(100%);
    
}


 
img:hover{
    filter: brightness(50%);
}

.fake {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin: 20px;
    background-color: oldlace;
}